<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.AnswerRecordMapper" >
  
  <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.AnswerRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="answer_id" property="answerId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, uid, answer_id, create_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_answer_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_answer_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.AnswerRecord" >
    insert into zl_answer_record (id, uid, answer_id, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{answerId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.AnswerRecord" >
    insert into zl_answer_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="answerId != null" >
        answer_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="answerId != null" >
        #{answerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.AnswerRecord" >
    update zl_answer_record
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="answerId != null" >
        answer_id = #{answerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.AnswerRecord" >
    update zl_answer_record
    set uid = #{uid,jdbcType=INTEGER},
      answer_id = #{answerId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据用户ID和回答ID查询点赞记录 -->
  <select id="selectAnswerRecordByUserAnswer" resultMap="BaseResultMap" >
      select
      <include refid="Base_Column_List" />
      from zl_answer_record
      where uid = #{userId} and answer_id = #{answerId}
  </select>
  
  
  
  <!-- 得到所有案例(物性)推介邀请回答人信息 -->
  <select id="selectAllAnswerRecord" resultType="com.zlwon.vo.answerRecord.AnswerRecordListVo" >
    SELECT   ar.id,ar.type,c.nickname,c.headerimg,c.role,c.email,c.company,IF(ac.id>0,ac.title,s.name) title
	FROM   zl_answer_recommend  ar
	LEFT   JOIN   zl_application_case   ac  ON   ar.info_id = ac.id  AND CASE ar.type WHEN 1 THEN ac.id=0 ELSE 1=1 END
	LEFT   JOIN   zl_specification   s  ON   ar.info_id = s.id   	 AND CASE ar.type WHEN 2 THEN s.id=0 ELSE 1=1 END
	LEFT   JOIN   zl_customer   c   ON   c.id = ar.uid
	WHERE   c.role IN (1,6)  AND  c.del = 1
	AND
	CASE ar.type WHEN 1 THEN s.del=1 ELSE 1=1 END
	AND 
	CASE ar.type WHEN 2  THEN  ac.examine=1  AND ac.del=1 ELSE  1=1 END
	<if test="type != 0">
	AND  ar.type=#{type}
	</if>
  </select>
    
</mapper>