<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.AnswerMapper" >
  
  <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.Answer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="qid" property="qid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="examine" property="examine" jdbcType="INTEGER" />
    <result column="support_nums" property="supportNums" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zlwon.rdb.entity.Answer" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <resultMap id="AnswerDetailVo" type="com.zlwon.vo.pc.answer.AnswerDetailVo" >
       <id column="id" property="id" />
       <result property="uid" column="uid"/>
       <result property="nickname" column="nickname"/>
       <result property="headerimg" column="headerimg"/>
       <result property="qid" column="qid"/>
       <result property="content" column="content"/>
       <result property="createTime" column="createTime"/>
   </resultMap>
   
   <resultMap id="AnswerQuestionDetailVo" type="com.zlwon.vo.pc.answer.AnswerQuestionDetailVo" >
       <id column="id" property="id" />
       <result property="uid" column="uid"/>
       <result property="nickname" column="nickname"/>
       <result property="headerimg" column="headerimg"/>
       <result property="qid" column="qid"/>
       <result property="content" column="content"/>
       <result property="supportNums" column="supportNums"/>
       <result property="createTime" column="createTime"/>
       <result property="quesUid" column="quesUid"/>
       <result property="quesNickname" column="quesNickname"/>
       <result property="quesHeaderimg" column="quesHeaderimg"/>
       <result property="iid" column="iid"/>
       <result property="source" column="source"/>
       <result property="infoClass" column="infoClass"/>
       <result property="content" column="content"/>
       <result property="title" column="title"/>
       <result property="quesContent" column="quesContent"/>
       <result property="quesCreateTime" column="quesCreateTime"/>
   </resultMap>
  
  <sql id="Base_Column_List" >
    id, uid, qid, create_time, examine, support_nums
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zl_answer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_answer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.Answer" >
    insert into zl_answer (id, uid, qid, 
      create_time, examine, content, support_nums
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{qid,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{examine,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}, #{supportNums,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.Answer" >
    insert into zl_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="qid != null" >
        qid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="examine != null" >
        examine,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="supportNums != null" >
        support_nums,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="qid != null" >
        #{qid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examine != null" >
        #{examine,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="supportNums != null" >
        #{supportNums,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.Answer" >
    update zl_answer
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="qid != null" >
        qid = #{qid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examine != null" >
        examine = #{examine,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="supportNums != null" >
        support_nums = #{supportNums,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zlwon.rdb.entity.Answer" >
    update zl_answer
    set uid = #{uid,jdbcType=INTEGER},
      qid = #{qid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      examine = #{examine,jdbcType=INTEGER},
      support_nums = #{supportNums,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.Answer" >
    update zl_answer
    set uid = #{uid,jdbcType=INTEGER},
      qid = #{qid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      examine = #{examine,jdbcType=INTEGER}
      support_nums = #{supportNums,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据问题ID分页查询回答 -->
  <select id="selectAnswerByquestionId" resultMap="AnswerDetailVo">
      select
      a.id,a.uid,a.qid,a.content,a.create_time as createTime,
      b.nickname,b.headerimg 
      from zl_answer as a 
      left join zl_customer as b on b.id = a.uid 
      where a.qid = #{questionId} and a.examine = 1 
      order by a.create_time desc 
  </select>
  
  <!-- 分页查询我的回答-个人中心 -->
  <select id="selectMyAnswerByCenterPage" resultMap="AnswerQuestionDetailVo">
      select
      a.id,a.uid,b.nickname,b.headerimg,a.qid,
      a.content,a.create_time as createTime,a.support_nums as supportNums,
      c.uid as quesUid,d.nickname as quesNickname,d.headerimg as quesHeaderimg,
      c.iid,c.info_class as infoClass,c.title,c.content as quesContent,c.create_time as quesCreateTime,
      CASE WHEN ca.title IS NULL then spec.`name` else ca.title end as source 
      from zl_answer as a 
      left join zl_customer as b on b.id = a.uid 
      left join zl_questions as c on c.id = a.qid 
      left join zl_customer as d on d.id = c.uid 
      left join zl_specification as spec on spec.id = c.iid and c.info_class = 1 
      left join zl_application_case as ca on ca.id = c.iid and c.info_class = 2 
      where a.uid = #{userId} and a.examine = 1 and c.examine = 1 
      order by a.create_time desc 
  </select>
  
  <!-- 查询我的回答数量-个人中心 -->
  <select id="countMyAnswerByCenter" resultType="java.lang.Integer" parameterType="java.lang.Integer">
      select COUNT(*) 
      from zl_answer as a
      left join zl_questions as b on b.id = a.qid 
      where a.uid = #{userId} and a.examine = 1 and b.examine = 1 
  </select>
  
</mapper>