<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.ApplicationCaseMapper" >
    <resultMap id="ApplicationCaseEntity" type="com.zlwon.rdb.entity.ApplicationCase" >
        <id column="id" property="id" />
        <result property="uid" column="uid"/>
        <result property="sid" column="sid"/>
        <result property="title" column="title"/>
        <result property="terminalId" column="terminal_id"/>
        <result property="appProductId" column="app_product_id"/>
        <result property="industryId" column="industry_id"/>
        <result property="marketId" column="market_id"/>
        <result property="selectRequirements" column="select_requirements"/>
        <result property="selectCause" column="select_cause"/>
        <result property="setting" column="setting"/>
        <result property="photo" column="photo"/>
        <result property="album" column="album"/>
        <result property="examine" column="examine"/>
        <result property="del" column="del"/>
        <result property="createTime" column="create_time"/>
        <result property="codePath" column="code_path"/>
        <result property="hot" column="hot"/>
    </resultMap>
    
    <!-- 应用案例详细数据出参 -->
    <resultMap id="ApplicationCaseDetailVo" type="com.zlwon.vo.applicationCase.ApplicationCaseDetailVo" >
        <id column="id" property="id" />
        <result property="uid" column="uid"/>
        <result property="sid" column="sid"/>
        <result property="headerimg" column="headerimg"/>
        <result property="nickname" column="nickname"/>
        <result property="specName" column="specName"/>
        <result property="title" column="title"/>
        <result property="terminal" column="terminal"/>
        <result property="appProduct" column="appProduct"/>
        <result property="baseMaterial" column="baseMaterial"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="selectRequirements" column="select_requirements"/>
        <result property="selectCause" column="select_cause"/>
        <result property="setting" column="setting"/>
        <result property="photo" column="photo"/>
        <result property="album" column="album"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    
    <!-- 应用案例部分数据出参 -->
    <resultMap id="ApplicationCaseSimpleVo" type="com.zlwon.vo.applicationCase.ApplicationCaseSimpleVo" >
        <id column="id" property="id" />
        <result property="title" column="title"/>
        <result property="terminal" column="terminal"/>
        <result property="specName" column="specName"/>
        <result property="appProduct" column="appProduct"/>
        <result property="photo" column="photo"/>
        <result property="album" column="album"/>
        <result property="createTime" column="create_time"/>
        <result property="exhibitionId" column="exhibitionId"/>
        <result property="exhibitionCaseId" column="exhibitionCaseId"/>
    </resultMap>
    
    <!-- pc物性关联应用案例详情出参 -->
    <resultMap id="PcApplicationCaseSimpleVo" type="com.zlwon.vo.pc.applicationCase.PcApplicationCaseSimpleVo" >
        <id column="id" property="id" />
        <result property="sid" column="sid"/>
        <result property="specName" column="specName"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="title" column="title"/>
        <result property="appProduct" column="appProduct"/>
        <result property="photo" column="photo"/>
        <result property="createTime" column="createTime"/>
        <result property="codePath" column="codePath"/>
    </resultMap>

	<!-- 根据id查询应用案例 -->
    <select id="findAppCaseById" resultMap="ApplicationCaseEntity" parameterType="java.lang.Integer">
        select
        id, uid, sid, title, terminal_id, app_product_id, select_requirements ,select_cause, setting,
        photo, album, examine, del, create_time, code_path ,industry_id,  market_id, hot
        from zl_application_case 
        where id = #{id}
    </select>
    
    <!-- 根据标题查询应用案例 -->
    <select id="findAppCaseByTitle" resultMap="ApplicationCaseEntity" parameterType="java.lang.String">
        select
        id, uid, sid, title, terminal_id, app_product_id, select_requirements ,select_cause, setting,
        photo, album, examine, del, create_time, code_path ,industry_id,  market_id 
        from zl_application_case 
        where title = #{title}
    </select>
    
    <!-- 根据物性表ID查询使用该规格的应用案例 -->
    <select id="findAppCaseBySpecId" resultMap="ApplicationCaseEntity" parameterType="java.lang.Integer">
        select
        id, uid, sid, title, terminal_id, app_product_id, select_requirements ,select_cause, setting,
        photo, album, examine, del, create_time, code_path ,industry_id,  market_id 
        from zl_application_case 
        where sid = #{specId}
    </select>
    
    <!-- 根据用户ID查询该用户所有的应用案例 -->
    <select id="findAppCaseByUid" resultMap="ApplicationCaseEntity" parameterType="java.lang.Integer">
        select
        id, uid, sid, title, terminal_id, app_product_id, select_requirements ,select_cause, setting,
        photo, album, examine, del, create_time, code_path ,industry_id,  market_id
        from zl_application_case 
        where uid = #{uid}
    </select>
    
    <!-- 根据id查询应用案例具体详情 -->
    <select id="findAppCaseDetailById" resultMap="ApplicationCaseDetailVo" parameterType="java.lang.Integer">
        select
        a.id, a.uid, a.sid, a.title,
        a.select_requirements,a.select_cause,
        a.setting, a.photo, a.album, a.create_time as createTime,
        b.nickname,b.headerimg,c.name as specName,d.`name` as baseMaterial,f.company as manufacturer,
        m.`name` as terminal,n.`name` as appProduct  
        from zl_application_case as a 
        left join zl_customer as b on b.id = a.uid 
        left join zl_specification_parameter as m on m.id = a.terminal_id 
        left join zl_specification_parameter as n on n.id = a.app_product_id 
        left join zl_specification as c on c.id = a.sid 
        left join zl_specification_parameter as d on d.id = c.msid 
        left join zl_customer as f on f.id = c.mid 
        where a.id = #{id}
    </select>
    
    <!-- 根据物性ID分页查询关联应用案例 -->
    <select id="selectSpecCaseBySpecIdPage" resultMap="PcApplicationCaseSimpleVo" parameterType="java.lang.Integer">
        select
        a.id, a.sid, a.title, m.`name` as appProduct , 
        a.photo, a.create_time as createTime,a.code_path as codePath,
		b.name as specName,c.company as manufacturer 
        from zl_application_case as a 
        left join zl_specification as b on b.id = a.sid 
        left join zl_customer as c on c.id = b.mid 
        left join zl_specification_parameter as m on m.id = a.app_product_id  
        where a.sid = #{specId} and a.del = 1
    </select>
    
    <!-- 根据物性ID统计物性表关联案例数量 -->
    <select id="countSpecCaseBySpecId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select
        count(*) 
        from zl_application_case
        where sid = #{specId} and del = 1
    </select>
    
    <!-- 分页查询特定展会的案例简单详情 -->
    <select id="selectSpecifyExhibitionCase" resultMap="ApplicationCaseSimpleVo">
        select
        b.id, b.title, m.`name` as terminal,n.`name` as appProduct, c.name as specName, b.photo, b.album, b.create_time as createTime,
        a.exhibition_case_id as exhibitionCaseId,a.exhibition_id as exhibitionId 
        from zl_exhibition_case_map as a
        left join zl_application_case as b on b.id = a.case_id 
        left join zl_specification as c on c.id = b.sid 
        left join zl_specification_parameter as m on m.id = b.terminal_id 
        left join zl_specification_parameter as n on n.id = b.app_product_id 
        where a.exhibition_id = #{exhibitionId} 
        <if test="caseName != null" >
        	and n.`name` LIKE CONCAT('%',#{caseName},'%') and n.class_type = 9 
        </if>
        <if test="manufacturerId != null" >
        	and c.mid = #{manufacturerId}
        </if>
        order by b.create_time desc
    </select>
    
    <!-- 得到所有案例-->
    <select id="selectAllApplicationCase" resultMap="ApplicationCaseEntity" >
        select
        id, uid, sid, title, select_requirements ,select_cause, setting,
        photo, album, examine, del, create_time, app_product_id,terminal_id,code_path,industry_id,  market_id 
        from zl_application_case  where   del = 1
    </select>
    
    <!-- 根据案例id修改非空的字段 -->
     <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.ApplicationCase" >
    update zl_application_case
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="appProductId != null" >
        app_product_id = #{appProductId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        industry_id = #{industryId,jdbcType=INTEGER},
      </if>
      <if test="marketId != null" >
        market_id = #{marketId,jdbcType=INTEGER},
      </if>
       <if test="terminalId != null" >
        terminal_id = #{terminalId,jdbcType=INTEGER},
      </if>
       <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="album != null" >
        album = #{album,jdbcType=VARCHAR},
      </if>
      <if test="codePath != null" >
        code_path = #{codePath,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        examine = #{examine,jdbcType=INTEGER},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="selectRequirements != null" >
        select_requirements = #{selectRequirements,jdbcType=LONGVARCHAR},
      </if>
      <if test="selectCause != null" >
        select_cause = #{selectCause,jdbcType=LONGVARCHAR},
      </if>
      <if test="setting != null" >
        setting = #{setting,jdbcType=LONGVARCHAR},
      </if>
      <if test="hot != null" >
        hot = #{hot,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 添加案例 -->
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.ApplicationCase" >
    insert into zl_application_case
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="appProductId != null" >
        app_product_id,
      </if>
      <if test="industryId != null" >
        industry_id,
      </if>
      <if test="marketId != null" >
        market_id,
      </if>
      <if test="terminalId != null" >
        terminal_id,
      </if>
      <if test="album != null" >
        album,
      </if>
      <if test="examine != null" >
        examine,
      </if>
      <if test="del != null" >
        del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="selectRequirements != null" >
        select_requirements,
      </if>
      <if test="selectCause != null" >
        select_cause,
      </if>
      <if test="setting != null" >
        setting,
      </if>
      <if test="codePath != null" >
        code_path,
      </if>
      <if test="hot != null" >
        hot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="appProductId != null" >
        #{appProductId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="marketId != null" >
        #{marketId,jdbcType=INTEGER},
      </if>
      <if test="terminalId != null" >
        #{terminalId,jdbcType=INTEGER},
      </if>
      <if test="album != null" >
        #{album,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        #{examine,jdbcType=INTEGER},
      </if>
      <if test="del != null" >
        #{del,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="selectRequirements != null" >
        #{selectRequirements,jdbcType=LONGVARCHAR},
      </if>
      <if test="selectCause != null" >
        #{selectCause,jdbcType=LONGVARCHAR},
      </if>
      <if test="setting != null" >
        #{setting,jdbcType=LONGVARCHAR},
      </if>
      <if test="codePath != null" >
        #{codePath,jdbcType=VARCHAR},
      </if>
      <if test="hot != null" >
        #{hot,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
    
    <!-- 根据案例标题查找案例 -->
    <select id="selectApplicationCaseByTitleMake" resultMap="ApplicationCaseEntity" >
        select
        id, uid, sid, title, terminal_id, app_product_id, select_requirements ,select_cause, setting,
        photo, album, examine, del, create_time, code_path ,industry_id,  market_id 
        from zl_application_case 
        where title = #{title} and del = 1
    </select>
    
    
    <!-- 根据展会id，得到展会下所有正常的案例 -->
    <select id="selectApplicationCaseByExhibitionIdMake" resultMap="ApplicationCaseEntity" >
        SELECT   a.*  FROM   zl_exhibition_case_map   cm,zl_application_case  a
		WHERE  cm.exhibition_id=#{id}  AND cm.case_id=a.id  AND a.del=1
    </select>
    
    
    
    <resultMap id="ApplicationCaseDetails" type="com.zlwon.vo.pc.applicationCase.ApplicationCaseDetailsVo" >
        <id column="id" property="id" />
        <result property="uid" column="uid"/>
        <result property="sid" column="sid"/>
        <result property="title" column="title"/>
        <result property="terminal" column="terminal"/>
        <result property="appProduct" column="app_product"/>
        <result property="selectRequirements" column="select_requirements"/>
        <result property="selectCause" column="select_cause"/>
        <result property="setting" column="setting"/>
        <result property="photo" column="photo"/>
        <result property="album" column="album"/>
         <result property="createTime" column="create_time"/>
        <result property="name" column="name"/>
        <result property="baseMaterial" column="baseMaterial"/>
        <result property="collection" column="collection"/>
    </resultMap>
    
    <!-- 根据案例id，得到案例详情 -->
    <select id="selectApplicationCaseDetailsMake"  resultMap="ApplicationCaseDetails" parameterType="java.lang.Integer">
        SELECT  acs.*,sp.name AS baseMaterial,spt.name  terminal,spa.name  app_product,IF(c.id>0,1,0) collection  FROM   (
		SELECT   a.*,s.name,s.msid  FROM  zl_application_case   a,zl_specification  s  WHERE  a.id=#{id}  AND  a.del=1  AND  a.sid=s.id
		)  acs  
		LEFT  JOIN   zl_specification_parameter sp  ON   sp.id=acs.msid  AND sp.class_type=2 
		LEFT  JOIN   zl_specification_parameter spt  ON   spt.id=acs.terminal_id  AND  spt.class_type=8
		LEFT  JOIN   zl_specification_parameter spa  ON   spa.id=acs.app_product_id  AND  spa.class_type=9
		LEFT  JOIN   zl_collection  c  ON   acs.id=c.iid  AND   c.type=2   AND   c.uid=#{uid}  <!-- 判断访问用户是否收藏案例，如果用户未登陆，就是未收藏 -->
    </select>
    
    
    <!-- 得到所有案例，包含案例id，案例名称，物性规格，应用行业，应用市场，生产商，基材 -->
    <select id="selectAllApplicationCaseDetails"  resultType="com.zlwon.vo.applicationCase.ApplicationCaseListVo" >
       SELECT   a.id,a.title,a.create_time createTime,a.hot, s.name specificationName,c.company,zsp01.name  industryName,zsp02.name markerName,zsp03.name baseMaterial,zsp04.name appProductName
        FROM   zl_application_case  a  
		LEFT  JOIN  zl_specification  s  ON  a.sid=s.id
		LEFT  JOIN  zl_customer   c   ON  s.mid=c.id 
		LEFT  JOIN  zl_specification_parameter  zsp01  ON  zsp01.id=a.industry_id  AND  zsp01.class_type=6
		LEFT  JOIN  zl_specification_parameter  zsp02  ON  zsp02.id=a.market_id   AND  zsp02.class_type=7
		LEFT  JOIN  zl_specification_parameter  zsp03  ON  zsp03.id=s.msid  AND  zsp03.class_type=2
		LEFT  JOIN  zl_specification_parameter  zsp04  ON  zsp04.id=a.app_product_id  AND  zsp04.class_type=9
		where   a.del = 1
		<if test=" key != null  and  key.trim() != '' ">
			and  a.title   LIKE CONCAT('%',#{key},'%')
		</if>
		ORDER  BY   a.hot  desc,a.id   desc
    </select>
    
    
    <!-- 根据案例id，得到案例详情，把生产商id映射到ApplicationCase的用户id上 -->
    <select id="selectAppCaseDetailsById" resultType="com.zlwon.vo.applicationCase.ApplicationCaseVo">
        SELECT  c.id uid, a.id, a.sid, a.title, a.industry_id industryId, a.market_id marketId, a.select_requirements selectRequirements,
		a.select_cause  selectCause, a.setting, a.photo, a.album,a.del, zp01.name   terminal,zp02.name appProduct     FROM   zl_application_case  a  
		LEFT  JOIN  zl_specification  s  ON   a.sid=s.id
		LEFT  JOIN   zl_customer  c   ON   c.id=s.mid
		LEFT  JOIN   zl_specification_parameter  zp01   ON  zp01.id=a.terminal_id   AND   zp01.class_type=8
		LEFT  JOIN   zl_specification_parameter  zp02   ON  zp02.id=a.app_product_id   AND   zp02.class_type=9
		WHERE  a.id=#{id}
    </select>
    
    
    <!-- 根据id查询应用案例 -->
    <select id="selectApplicationCaseDetailsByExhibitionIdMake" resultType="com.zlwon.vo.exhibitionCaseMap.ExhibitionCaseMapVo" >
         SELECT   a.title,s.name specificationName,zsp01.name  appProductName,a.create_time  createTime,IF(ecm.id>0,1,0) relevance,IF(ec.id>0,1,0) relevanceCustomere,a.id aid,ecm.exhibition_id eid,c.nickname
		FROM   zl_application_case  a  
		LEFT  JOIN  zl_specification  s  ON  a.sid=s.id
		LEFT  JOIN  zl_specification_parameter  zsp01  ON  zsp01.id=a.app_product_id  AND  zsp01.class_type=9
		LEFT  JOIN  zl_exhibition_case_map  ecm   ON  ecm.case_id=a.id   AND  ecm.exhibition_id=#{id}
		LEFT  JOIN  zl_exhibition_case   ec   ON   ec.id = ecm.exhibition_case_id  AND   ec.del = 1
		LEFT  JOIN  zl_customer   c   ON  ec.uid = c.id  and  c.del = 1
		<!-- 材料生产商 -->
		<if test=" mid != null  and  mid > 0 ">
			LEFT  JOIN  zl_customer   cs   ON  s.mid = cs.id  and  cs.del = 1
		</if>
		
		WHERE   a.del = 1
		
		<!-- 关键字模糊查询 -->
		<if test=" key != null  and  key.trim() != '' ">
			and  a.title   LIKE CONCAT('%',#{key},'%')
		</if>
		
		<!-- 材料生产商 -->
		<if test=" mid != null  and  mid > 0 ">
			and   cs.id = #{mid}
		</if>
		
		<!-- 应用行业 -->
		<if test=" industryId != null  and  industryId > 0 ">
			and   a.industry_id = #{industryId}
		</if>
		
		<!-- 应用市场 -->
		<if test=" marketId != null  and  marketId > 0 ">
			and   a.market_id = #{marketId}
		</if>
		
		ORDER  BY   relevance  desc,a.id   DESC
    </select>
    
    
    <!-- 得到所有案例，条件查询 -->
    <select id="selectAllApplicationCaseSelective" resultType="com.zlwon.vo.pc.applicationCase.QueryApplicationCaseListVo"  parameterType="com.zlwon.dto.pc.applicationCase.QueryApplicationCaseListDto">
         SELECT   a.id, a.title, a.photo, sp01.name terminal, s.name, IF(c.id > 0,1,0) collect   
         	FROM   zl_application_case   a
			LEFT   JOIN   zl_specification_parameter  sp01  ON  a.terminal_id=sp01.id   AND   sp01.class_type = 8  <!-- 得到终端客户名称 -->
			LEFT   JOIN   zl_specification   s   ON   a.sid = s.id  AND s.del = 1 <!-- 得到物性规格名称 -->
			LEFT   JOIN   zl_collection   c  ON   c.iid = a.id   AND   c.type = 2  AND  c.uid = #{uid}  <!-- 判断是否收藏,如果用户未登录，uid为null，标识是否查询都是未收藏 -->
			
			<if test=" mids != null  and  mids.trim() != '' ">
				LEFT   JOIN   zl_customer  cu   ON    s.mid = cu.id    <!-- 材料生产商模糊查询 -->
			</if>
			
			<if test=" tids != null  and  tids.trim() != '' ">
				LEFT   JOIN   zl_specification_parameter  sp02  ON  s.tid = sp02.id    <!-- 商标模糊查询 -->
			</if>
			
			<if test=" msid != null  and  msid.trim() != '' ">
				LEFT   JOIN   zl_specification_parameter  sp03  ON  s.msid = sp03.id   <!-- 基材模糊查询 -->
			</if>
			
			<if test=" industryIds != null  and  industryIds.trim() != '' ">
				LEFT   JOIN   zl_specification_parameter  sp04  ON  a.industry_id = sp04.id   <!-- 应用行业模糊查询 -->
			</if>
			
			<if test=" key != null and key.trim() != '' ">
				LEFT   JOIN   zl_specification_parameter  sp05  ON  a.app_product_id = sp05.id   <!-- 关键字，应用产品模糊查询 -->
			</if>
			
			WHERE   a.del=1  
			
			<if test=" mids != null  and  mids.trim() != '' ">
				AND   s.mid IN (${mids})  AND   cu.role = 2 <!-- 材料生产商模糊查询 -->
			</if>
			
			<if test=" tids != null  and  tids.trim() != '' ">
				AND   s.tid IN(${tids}) AND  sp02.class_type = 1  <!-- 商标模糊查询 -->
			</if>
			
			<if test=" msid != null  and  msid.trim() != '' ">
				AND   s.msid IN(${msid})   AND   sp03.class_type = 2  <!-- 基材模糊查询 -->
			</if>
			
			<if test=" industryIds != null  and  industryIds.trim() != '' ">
				AND   a.industry_id IN(${industryIds})  AND  sp04.class_type = 6 <!-- 应用行业模糊查询 -->
			</if>
			
			<if test=" key != null and key.trim() != '' ">
				AND  sp05.name LIKE CONCAT('%',#{key},'%')  AND  sp05.class_type = 9
			</if>
    </select>
    
    
    <!-- 首页热门案例查询 -->
    <select id="selectHotApplicationCase" resultType="com.zlwon.vo.pc.applicationCase.IndexHotApplicationCaseVo">
        SELECT   a.id, a.photo, a.title, s.name   FROM   
		zl_application_case  a
		LEFT   JOIN   zl_specification  s   ON   a.sid=s.id   AND   s.del=1
		WHERE  a.del=1 AND  a.hot=1 ORDER  BY  a.id  DESC    LIMIT   5
    </select>
    
    
     <!-- 根据案例id，得到提问信息 -->
    <select id="selectHotApplicationCaseQuestionByAid" resultType="com.zlwon.vo.pc.applicationCase.IndexHotApplicationCaseQuestionAndAnswerVo">
        SELECT  q.id,q.title,q.create_time createTime,c.nickname  FROM  
		 zl_questions   q
		 LEFT   JOIN   zl_customer  c ON  q.uid=c.id AND   c.del=1
		 WHERE  iid = #{id}  AND  info_class = 2  AND  examine = 1   ORDER  BY  id   DESC   LIMIT   4
    </select>
    
    <!-- 通过提问id，得到回答信息 -->
    <select id="selectselectHotApplicationCaseAnswerByQid" resultType="string">
        SELECT  content   FROM     zl_answer   WHERE   qid = #{id}   AND   examine = 1  ORDER  BY   id DESC LIMIT   1
    </select>
    
    
    <!-- 得到热门案例个数 -->
    <select id="selectHotAppCount" resultType="int">
        select   count(1)  from   zl_application_case   where   hot = 1
    </select>
    
    
    
    <!-- 查询用户提交的案例信息和编辑过的案例信息 -->
    <select id="selectMyApplicationCaseInfo" resultType="com.zlwon.vo.pc.applicationCase.CustomerApplicationCaseVo">
		(SELECT    ce.create_time  createTime,ce.examine,c.id,c.title,IF(ce.id>0,0,1) make  FROM  
		zl_case_edit   ce
		LEFT   JOIN   zl_application_case  c  ON   ce.aid=c.id   AND   c.del=1
		WHERE   ce.uid=#{id}   ORDER   BY  ce.id   DESC   LIMIT  9999999)   
		UNION	
		(SELECT   a.create_time createTime,a.examine,a.id,a.title,IF(a.id>0,1,0)   
		FROM    zl_application_case a  WHERE  a.del=1   AND   a.uid=#{id}  ORDER   BY   a.id   DESC  LIMIT  9999999)  
    </select>
</mapper>