<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.CustomerAuthMapper" >
  <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.CustomerAuth" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="shortCompany_id" property="shortcompanyId" jdbcType="INTEGER" />
    <result column="fullCompany_id" property="fullcompanyId" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="bcard" property="bcard" jdbcType="VARCHAR" />
    <result column="myinfo" property="myinfo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, shortCompany_id, fullCompany_id, nickname, email, occupation, label, bcard, 
    myinfo, status, type, create_time, audit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_customer_auth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_customer_auth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.CustomerAuth" >
    insert into zl_customer_auth (id, uid, shortCompany_id, 
      fullCompany_id, nickname, email, 
      occupation, label, bcard, 
      myinfo, status, type, create_time, 
      audit_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{shortcompanyId,jdbcType=INTEGER}, 
      #{fullcompanyId,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{occupation,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{bcard,jdbcType=VARCHAR}, 
      #{myinfo,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{auditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.CustomerAuth" >
    insert into zl_customer_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="shortcompanyId != null" >
        shortCompany_id,
      </if>
      <if test="fullcompanyId != null" >
        fullCompany_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="occupation != null" >
        occupation,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="bcard != null" >
        bcard,
      </if>
      <if test="myinfo != null" >
        myinfo,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="shortcompanyId != null" >
        #{shortcompanyId,jdbcType=INTEGER},
      </if>
      <if test="fullcompanyId != null" >
        #{fullcompanyId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="bcard != null" >
        #{bcard,jdbcType=VARCHAR},
      </if>
      <if test="myinfo != null" >
        #{myinfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.CustomerAuth" >
    update zl_customer_auth
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="shortcompanyId != null" >
        shortCompany_id = #{shortcompanyId,jdbcType=INTEGER},
      </if>
      <if test="fullcompanyId != null" >
        fullCompany_id = #{fullcompanyId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        occupation = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="bcard != null" >
        bcard = #{bcard,jdbcType=VARCHAR},
      </if>
      <if test="myinfo != null" >
        myinfo = #{myinfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        status = #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.CustomerAuth" >
    update zl_customer_auth
    set uid = #{uid,jdbcType=INTEGER},
      shortCompany_id = #{shortcompanyId,jdbcType=INTEGER},
      fullCompany_id = #{fullcompanyId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      bcard = #{bcard,jdbcType=VARCHAR},
      myinfo = #{myinfo,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      audit_time = #{auditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!-- 得到用户认证提交信息(审核中状态)，根据用户id(一个用户肯定只有一个审核中的状态) -->
  <select id="selectByUIdStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_customer_auth
    where uid = #{uid,jdbcType=INTEGER}  and  status = 0
  </select>
  
  
  
  <!-- 根据用户id和认证类型，得到用户最近提交的审核信息，不管审核状态 -->
  <select id="selectApplyInfoByUid" resultType="com.zlwon.vo.pc.customer.CustomerApplyInfoVo" >
    SELECT   au.nickname,au.email,au.bcard,au.label,au.myinfo,au.occupation,
	fcom.name companyFullName,fcom.charter,fcom.intro,fcom.link_email linkEmail
	,fcom.link_person linkPerson,fcom.link_tel  linkTel,IF(scom.id>0,scom.name,c.company) companyShortName
	FROM   zl_customer_auth  au  
	LEFT   JOIN   zl_company  fcom ON  fcom.id=au.fullCompany_id
	LEFT   JOIN   zl_company  scom ON  scom.id=au.shortCompany_id  AND CASE  fcom.status WHEN 0 THEN  scom.id=0  ELSE 1=1  END  <!-- 如果企业全称的父类是0，就不查zl_company表，需要查customer -->
	LEFT   JOIN   zl_customer  c  ON   c.id=au.shortCompany_id  AND  CASE  fcom.status WHEN 1 THEN  c.id=0  ELSE 1=1  END  <!-- 如果企业全称的父类是1，就不查zl_companycustomer表，需要查zl_company -->
	WHERE   au.uid=#{id} 
	AND   au.type=#{type}
	ORDER   BY   au.id  DESC   LIMIT  1
  </select>
  
  
  <!-- 得到所有认证中的用户-->
  <select id="selectApplyCustomers" resultType="com.zlwon.vo.customer.CustomerApplyInfoWebVo" >
    SELECT   au.id,au.uid,au.nickname,au.email,au.bcard,au.label,au.myinfo,au.occupation,au.type
	fcom.name companyFullName,fcom.charter,fcom.intro,fcom.link_email linkEmail
	,fcom.link_person linkPerson,fcom.link_tel  linkTel,IF(scom.id>0,scom.name,c.company) companyShortName
	FROM   zl_customer_auth  au  
	LEFT   JOIN   zl_company  fcom ON  fcom.id=au.fullCompany_id
	LEFT   JOIN   zl_company  scom ON  scom.id=au.shortCompany_id  AND CASE  fcom.status WHEN 0 THEN  scom.id=0  ELSE 1=1  END
	LEFT   JOIN   zl_customer  c  ON   c.id=au.shortCompany_id  AND  CASE  fcom.status WHEN 1 THEN  c.id=0  ELSE 1=1  END
	LEFT   JOIN   zl_customer  cu  ON   au.uid=cu.id
	WHERE   cu.del=1  AND   cu.role_apply!=-1   AND   au.status=0
	<if test="type != 0">
		AND   au.type=#{type}
	</if>
	
  </select>
</mapper>