<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.DealerdQuotationMapper" >
  
  <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.DealerdQuotation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="validity_date" property="validityDate" jdbcType="DATE" />
    <result column="order_quantity" property="orderQuantity" jdbcType="INTEGER" />
    <result column="delivery_date" property="deliveryDate" jdbcType="VARCHAR" />
    <result column="delivery_place" property="deliveryPlace" jdbcType="VARCHAR" />
    <result column="pay_method" property="payMethod" jdbcType="VARCHAR" />
    <result column="examine" property="examine" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <!-- pc物性表材料报价单出参 -->
  <resultMap id="DealerdQuotationDetailVo" type="com.zlwon.vo.pc.dealerQuotate.DealerdQuotationDetailVo" >
    <id column="id" property="id" />
    <result property="sid" column="sid"/>
    <result property="uid" column="uid"/>
    <result property="specName" column="specName"/>
    <result property="nickname" column="nickname"/>
    <result property="company" column="company"/>
    <result property="headerimg" column="headerimg"/>
    <result property="intro" column="intro"/>
    <result property="color" column="color"/>
    <result property="price" column="price"/>
    <result property="validityDate" column="validityDate"/>
    <result property="orderQuantity" column="orderQuantity"/>
    <result property="deliveryDate" column="deliveryDate"/>
    <result property="deliveryPlace" column="deliveryPlace"/>
    <result property="payMethod" column="payMethod"/>
    <result property="examine" column="examine"/>
    <result property="createTime" column="createTime"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, uid, sid, color, price, validity_date, order_quantity, delivery_date, delivery_place, 
    pay_method, examine, create_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_dealerd_quotation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_dealerd_quotation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.DealerdQuotation" >
    insert into zl_dealerd_quotation (id, uid, sid, 
      color, price, validity_date, 
      order_quantity, delivery_date, delivery_place, 
      pay_method, examine, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, 
      #{color,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{validityDate,jdbcType=DATE}, 
      #{orderQuantity,jdbcType=INTEGER}, #{deliveryDate,jdbcType=VARCHAR}, #{deliveryPlace,jdbcType=VARCHAR}, 
      #{payMethod,jdbcType=VARCHAR}, #{examine,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.DealerdQuotation" >
    insert into zl_dealerd_quotation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="validityDate != null" >
        validity_date,
      </if>
      <if test="orderQuantity != null" >
        order_quantity,
      </if>
      <if test="deliveryDate != null" >
        delivery_date,
      </if>
      <if test="deliveryPlace != null" >
        delivery_place,
      </if>
      <if test="payMethod != null" >
        pay_method,
      </if>
      <if test="examine != null" >
        examine,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="validityDate != null" >
        #{validityDate,jdbcType=DATE},
      </if>
      <if test="orderQuantity != null" >
        #{orderQuantity,jdbcType=INTEGER},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPlace != null" >
        #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="payMethod != null" >
        #{payMethod,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        #{examine,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.DealerdQuotation" >
    update zl_dealerd_quotation
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="validityDate != null" >
        validity_date = #{validityDate,jdbcType=DATE},
      </if>
      <if test="orderQuantity != null" >
        order_quantity = #{orderQuantity,jdbcType=INTEGER},
      </if>
      <if test="deliveryDate != null" >
        delivery_date = #{deliveryDate,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPlace != null" >
        delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="payMethod != null" >
        pay_method = #{payMethod,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        examine = #{examine,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.DealerdQuotation" >
    update zl_dealerd_quotation
    set uid = #{uid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      validity_date = #{validityDate,jdbcType=DATE},
      order_quantity = #{orderQuantity,jdbcType=INTEGER},
      delivery_date = #{deliveryDate,jdbcType=VARCHAR},
      delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      pay_method = #{payMethod,jdbcType=VARCHAR},
      examine = #{examine,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据物性规格和色号查询材料报价单（未驳回） -->
  <select id="selectDealerdQuotationBySpecAndColor" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from zl_dealerd_quotation   
    where sid = #{specId} and color = #{color} and examine != 2 
  </select>
  
  <!-- 根据用户ID查询材料报价单 -->
  <select id="selectDealerdQuotationByUid" resultMap="DealerdQuotationDetailVo" parameterType="java.lang.Integer" >
    select 
    a.id,a.uid,a.sid,a.color,a.price,a.validity_date as validityDate,
    a.order_quantity as orderQuantity,a.delivery_date as deliveryDate,
    a.delivery_place as deliveryPlace,a.pay_method as payMethod,a.examine,
    a.create_time as createTime,b.`name` as specName 
    from zl_dealerd_quotation as a 
    left join zl_specification as b on b.id = a.sid 
    where a.uid = #{uid} 
  </select>
  
  <!-- 根据物性规格ID查询材料报价单 -->
  <select id="selectDealerdQuotationBySpecId" resultMap="DealerdQuotationDetailVo" parameterType="java.lang.Integer" >
    select 
    a.id,a.uid,a.sid,a.color,a.price,a.validity_date as validityDate,
    a.order_quantity as orderQuantity,a.delivery_date as deliveryDate,
    a.delivery_place as deliveryPlace,a.pay_method as payMethod,a.examine,
    a.create_time as createTime,c.nickname,c.company,c.headerimg,c.intro 
    from zl_dealerd_quotation as a 
    left join zl_customer as c on c.id = a.uid 
    where a.sid = #{specId} and a.examine = 1 and CURDATE() &lt;= a.validity_date
  </select>
  
  <!-- 根据ID查询材料报价单详情 -->
  <select id="selectDealerdQuotationDetailById" resultMap="DealerdQuotationDetailVo" parameterType="java.lang.Integer" >
    select 
    a.id,a.uid,a.sid,a.color,a.price,a.validity_date as validityDate,
    a.order_quantity as orderQuantity,a.delivery_date as deliveryDate,
    a.delivery_place as deliveryPlace,a.pay_method as payMethod,a.examine,
    a.create_time as createTime,b.`name` as specName 
    from zl_dealerd_quotation as a 
    left join zl_specification as b on b.id = a.sid 
    where a.id = #{id} 
  </select>
  
</mapper>