<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.ExhibitionCaseMapMapper" >
  <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.ExhibitionCaseMap" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="case_id" property="caseId" jdbcType="INTEGER" />
    <result column="exhibition_id" property="exhibitionId" jdbcType="INTEGER" />
    <result column="exhibition_case_id" property="exhibitionCaseId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, case_id, exhibition_id, exhibition_case_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_exhibition_case_map
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_exhibition_case_map
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.ExhibitionCaseMap" >
    insert into zl_exhibition_case_map (id, case_id, exhibition_id, 
      exhibition_case_id)
    values (#{id,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{exhibitionId,jdbcType=INTEGER}, 
      #{exhibitionCaseId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.ExhibitionCaseMap" >
    insert into zl_exhibition_case_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="caseId != null" >
        case_id,
      </if>
      <if test="exhibitionId != null" >
        exhibition_id,
      </if>
      <if test="exhibitionCaseId != null" >
        exhibition_case_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="exhibitionId != null" >
        #{exhibitionId,jdbcType=INTEGER},
      </if>
      <if test="exhibitionCaseId != null" >
        #{exhibitionCaseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.ExhibitionCaseMap" >
    update zl_exhibition_case_map
    <set >
      <if test="caseId != null" >
        case_id = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="exhibitionId != null" >
        exhibition_id = #{exhibitionId,jdbcType=INTEGER},
      </if>
      <if test="exhibitionCaseId != null" >
        exhibition_case_id = #{exhibitionCaseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.ExhibitionCaseMap" >
    update zl_exhibition_case_map
    set case_id = #{caseId,jdbcType=INTEGER},
      exhibition_id = #{exhibitionId,jdbcType=INTEGER},
      exhibition_case_id = #{exhibitionCaseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!-- 根据案例id和展会id，得到信息 -->
  <select id="selectByCaseIdAndEid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from zl_exhibition_case_map
    where exhibition_id = #{exhibitionId} and case_id = #{caseId}
  </select>
  
  <!-- 删除展会案例，根据案例id和展会id -->
  <delete id="deleteByCaseIdAndExhibitionId">
    delete from zl_exhibition_case_map
    where  exhibition_id = #{exhibitionId} and case_id = #{caseId}
  </delete>
  
  
   <!-- 得到所有工程师(而且通过展会id和案例id，标识已关联的工程师)，后端查看展会案例关联的工程师 -->
  <select id="selectAllEngineer" resultType="com.zlwon.vo.customer.EngineerVo">
    SELECT   c.id,c.nickname,c.name,c.company,IF(ec.id>0,1,0) relevance  FROM   zl_customer  c
	LEFT   JOIN   
	zl_exhibition_case  ec  ON ec.uid=c.id  AND ec.del=1 AND  ec.cid=#{aid}
	LEFT  JOIN 
	zl_exhibition_case_map ecm  ON  ecm.exhibition_case_id=ec.id   AND  ecm.case_id=#{aid}  AND  ecm.exhibition_id=#{eid}
	WHERE  c.role=1   ORDER  BY   relevance  desc,c.id  desc
  </select>
  
  
  
  
   <!-- 根据展会id和案例id，得到展会案例已关联的工程师(如果未关联工程师exhibition_case_id会返回null) -->
  <select id="selectExhibitionCaseMapByAidAndEidMake" resultMap="BaseResultMap" >
	SELECT    ec.id exhibition_case_id,ecm.*  FROM   zl_exhibition_case_map  ecm
	LEFT  JOIN  zl_exhibition_case  ec  ON  ecm.exhibition_case_id=ec.id  AND   ec.del=1
	WHERE  ecm.case_id=#{aid}  AND   ecm.exhibition_id=#{eid}     
  </select>
</mapper>