<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.InformMapper" >
  <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.Inform" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="iid" property="iid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="read_status" property="readStatus" jdbcType="TINYINT" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, iid, type, status, content, read_status, uid, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_inform
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_inform
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.Inform" >
    insert into zl_inform (id, iid, type, 
      status, content, read_status, 
      uid, create_time)
    values (#{id,jdbcType=INTEGER}, #{iid,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{content,jdbcType=VARCHAR}, #{readStatus,jdbcType=TINYINT}, 
      #{uid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.Inform" >
    insert into zl_inform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="iid != null" >
        iid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="readStatus != null" >
        read_status,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="iid != null" >
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="readStatus != null" >
        #{readStatus,jdbcType=TINYINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.Inform" >
    update zl_inform
    <set >
      <if test="iid != null" >
        iid = #{iid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="readStatus != null" >
        read_status = #{readStatus,jdbcType=TINYINT},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.Inform" >
    update zl_inform
    set iid = #{iid,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      read_status = #{readStatus,jdbcType=TINYINT},
      uid = #{uid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <!-- 根据提问信息id，得到提问通知信息 -->
  <select id="selectQuestionsFailedByIid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_inform
    where iid = #{iid,jdbcType=INTEGER}   and   type = 1  and  status = 0
  </select>
  
  <!-- 根据回答信息id，得到驳回回答通知信息 -->
  <select id="selectAnswerFailedByIid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_inform
    where iid = #{iid,jdbcType=INTEGER}   and   type = 2  and  status = 0
  </select>
  
  
  <!-- 根据编辑案例信息id，得到驳回编辑案例通知信息 -->
  <select id="selectApplicationCaseEditFailedByIid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_inform
    where iid = #{iid,jdbcType=INTEGER}   and   type = 3  and  status = 0
  </select>
  
  
  <!-- 根据用户添加物性标签信息id，得到驳回物性标签通知信息 -->
  <select id="selectCharacteristicFailedByIid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_inform
    where iid = #{iid,jdbcType=INTEGER}   and   type = 4  and  status = 0
  </select>
  
  
  <!-- 得到用户所有消息，根据类型获取 -->
  <select id="selectAllInformByUid" resultType="com.zlwon.vo.pc.inform.InformListVo">
    SELECT   inform.type,inform.id,inform.status,inform.create_time createTime,inform.read_status readStatus,inform.content,
	<!-- #1提问，提问标题提问信息(案例或者物性)标题 -->
	IF(q.id>0,q.title,NULL) qTitle,IF(q.id>0 AND qapp.id>0,qapp.title,qspe.name) qInfoTitle,
	<!-- #2回答，回答提问标题和回答提问标题信息(案例或者物性)标题 -->
	IF(a.id>0,aq.title,NULL) aqTitle,IF(aq.id>0 AND aqapp.id>0,aqapp.title,aqspe.name) aqInfoTitle,
	<!-- #3案例编辑，案例标题 -->
	IF(ce.id>0,ceapp.title,NULL) ceAppTitle,
	<!-- #4物性标签，物性规格名称 -->
	IF(ch.id>0,chspe.name,NULL) chSpeName,
	<!-- #5物性报价单，物性规格名称 -->
	IF(dq.id>0,dqspe.name,NULL) dqSpeName,
	<!-- #6认证，认证类型 -->
	IF(ca.id>0,ca.type,NULL) caType,
	<!-- #1,2标识针对案例还是物性 -->
	IF(q.id>0,IF(qapp.id>0,2,1),IF(a.id>0,IF(aqapp.id>0,2,1),NULL))  infoType,
	IF(q.id>0,IF(qapp.id>0,qapp.id,qspe.id),IF(a.id>0,IF(aqapp.id>0,aqapp.id,aqspe.id),NULL)) infoId
	FROM   zl_inform  inform   
	LEFT  JOIN   zl_customer  cu  		ON  cu.id = inform.uid
	LEFT  JOIN   zl_questions  q  		ON  q.id = inform.iid  AND IF(inform.type=1,1=1,q.id=0) <!-- #提问1 -->
	LEFT  JOIN   zl_application_case  qapp  ON  qapp.id = q.iid    AND IF(q.info_class=2,1=1,qapp.id=0)
	LEFT  JOIN   zl_specification  qspe     ON  qspe.id = q.iid    AND IF(q.info_class=1,1=1,qspe.id=0)  
	
	LEFT  JOIN   zl_answer     a  		ON  a.id = inform.iid  AND IF(inform.type=2,1=1,a.id=0) <!-- #回答2 -->
	LEFT  JOIN   zl_questions aq  		ON  aq.id = a.qid   
	LEFT  JOIN   zl_application_case  aqapp ON  aqapp.id = aq.iid    AND IF(aq.info_class=2,1=1,aqapp.id=0)
	LEFT  JOIN   zl_specification  aqspe    ON  aqspe.id = aq.iid    AND IF(aq.info_class=1,1=1,aqspe.id=0) 
	
	LEFT  JOIN   zl_case_edit ce  		ON  ce.id = inform.iid AND IF(inform.type=3,1=1,ce.id=0) <!-- #案例编辑3 -->
	LEFT  JOIN   zl_application_case  ceapp    ON  ceapp.id = ce.aid   
	
	LEFT  JOIN   zl_characteristic    ch    ON  ch.id = inform.iid AND IF(inform.type=4,1=1,ch.id=0) <!-- #物性标签4 -->
	LEFT  JOIN   zl_specification     chspe ON  chspe.id = ch.spec_id
	
	LEFT  JOIN   zl_dealerd_quotation dq    ON  dq.id = inform.iid AND IF(inform.type=5,1=1,dq.id=0) <!-- #物性报检单5 -->
	LEFT  JOIN   zl_specification     dqspe ON  dqspe.id = dq.sid
	
	LEFT  JOIN   zl_customer_auth     ca    ON  ca.id = inform.iid AND IF(inform.type=6,1=1,ca.id=0) <!-- #认证6 -->
	
	WHERE  inform.uid = #{uid} 
	<if test="type != null and type != 0">
	AND   inform.type = #{type}
	</if>
  </select>
  
  
  <!-- 得到用户未读消息总个数 -->
  <select id="selectBadgeNumberByUid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    SELECT  COUNT(1)  FROM  zl_inform  
	WHERE  uid = #{uid}  AND  read_status = 0
  </select>
  
  
  <!-- 设置用户消息为已读 -->
  <update id="updateInformMakeReadByIds"  >
    update zl_inform
    set read_status = 1
    where id in 
	<foreach collection="ids" open="(" close=")" separator="," item="id">
		#{id}
	</foreach>
	and  uid = #{uid}
  </update>
</mapper>