<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.ProcessingAdviceMapper" >
  <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.ProcessingAdvice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="mould" property="mould" jdbcType="VARCHAR" />
    <result column="conditions" property="conditions" jdbcType="VARCHAR" />
    <result column="examine" property="examine" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, cid, mould, conditions, examine
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_processing_advice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_processing_advice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.ProcessingAdvice" >
    insert into zl_processing_advice (id, uid, cid, 
      mould, conditions, examine
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{mould,jdbcType=VARCHAR}, #{conditions,jdbcType=VARCHAR}, #{examine,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.ProcessingAdvice" >
    insert into zl_processing_advice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="mould != null" >
        mould,
      </if>
      <if test="conditions != null" >
        conditions,
      </if>
      <if test="examine != null" >
        examine,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="mould != null" >
        #{mould,jdbcType=VARCHAR},
      </if>
      <if test="conditions != null" >
        #{conditions,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        #{examine,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.ProcessingAdvice" >
    update zl_processing_advice
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="mould != null" >
        mould = #{mould,jdbcType=VARCHAR},
      </if>
      <if test="conditions != null" >
        conditions = #{conditions,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        examine = #{examine,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.ProcessingAdvice" >
    update zl_processing_advice
    set uid = #{uid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      mould = #{mould,jdbcType=VARCHAR},
      conditions = #{conditions,jdbcType=VARCHAR},
      examine = #{examine,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!-- 得到所有加工建议(zl_processing_advice_class，zl_processing_advice内连接) -->
  <select id="selectAllProcessingAdviceJoinClass" resultType="com.zlwon.vo.processingAdvice.ProcessingAdviceVo">
    select  pa.*,pac.title  from   zl_processing_advice pa,zl_processing_advice_class pac
    where  pa.cid = pac.id
  </select>
</mapper>