<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.QuestionsMapper" >
    
   <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.Questions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nsid" property="nsid" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="iid" property="iid" jdbcType="INTEGER" />
    <result column="info_class" property="infoClass" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="examine" property="examine" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zlwon.rdb.entity.Questions" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, nsid, uid, iid, info_class, title, create_time, examine
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zl_questions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_questions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.Questions" >
    insert into zl_questions (id, nsid, uid, 
      iid, info_class, title, 
      create_time, examine, content
      )
    values (#{id,jdbcType=INTEGER}, #{nsid,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{iid,jdbcType=INTEGER}, #{infoClass,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{examine,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.Questions" >
    insert into zl_questions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nsid != null" >
        nsid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="iid != null" >
        iid,
      </if>
      <if test="infoClass != null" >
        info_class,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="examine != null" >
        examine,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nsid != null" >
        #{nsid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="iid != null" >
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="infoClass != null" >
        #{infoClass,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examine != null" >
        #{examine,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.Questions" >
    update zl_questions
    <set >
      <if test="nsid != null" >
        nsid = #{nsid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="iid != null" >
        iid = #{iid,jdbcType=INTEGER},
      </if>
      <if test="infoClass != null" >
        info_class = #{infoClass,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examine != null" >
        examine = #{examine,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zlwon.rdb.entity.Questions" >
    update zl_questions
    set nsid = #{nsid,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      iid = #{iid,jdbcType=INTEGER},
      info_class = #{infoClass,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      examine = #{examine,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.Questions" >
    update zl_questions
    set nsid = #{nsid,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      iid = #{iid,jdbcType=INTEGER},
      info_class = #{infoClass,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      examine = #{examine,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    
    <!-- 根据用户ID查询其所有的提问 -->
    <select id="findQuestionsByUId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        id, nsid, uid, iid, info_class ,title, content, create_time, examine 
        from zl_questions 
        where uid = #{uid}
    </select>
    
    <!-- 根据信息ID查询问题数量 -->
    <select id="countQuestionsByInfoId" resultType="java.lang.Integer">
        select
        count(*) 
        from zl_questions
        where iid = #{infoId} and info_class = #{type} and examine = 1 
    </select>
    
</mapper>