<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.QuestionsMapper" >
    
   <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.Questions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nsid" property="nsid" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="iid" property="iid" jdbcType="INTEGER" />
    <result column="info_class" property="infoClass" jdbcType="INTEGER" />
    <result column="module_type" property="moduleType" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="examine" property="examine" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="QuestionsDetailVo" type="com.zlwon.vo.pc.questions.QuestionsDetailVo" >
        <id column="id" property="id" />
        <result property="uid" column="uid"/>
        <result property="nickname" column="nickname"/>
        <result property="headerimg" column="headerimg"/>
        <result property="intro" column="intro"/>
        <result property="iid" column="iid"/>
        <result property="source" column="source"/>
        <result property="infoClass" column="infoClass"/>
        <result property="moduleType" column="moduleType"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createTime" column="createTime"/>
        <result property="isCollect" column="isCollect"/>
        <result property="collectId" column="collectId"/>
        <result property="examine" column="examine"/>
    </resultMap>
  
  <sql id="Base_Column_List" >
    id, nsid, uid, iid, info_class, module_type, title, content, create_time, examine
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_questions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_questions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.Questions" >
    insert into zl_questions (id, nsid, uid, 
      iid, info_class, module_type, 
      title, content, create_time, 
      examine)
    values (#{id,jdbcType=INTEGER}, #{nsid,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{iid,jdbcType=INTEGER}, #{infoClass,jdbcType=INTEGER}, #{moduleType,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{examine,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.Questions" >
    insert into zl_questions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nsid != null" >
        nsid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="iid != null" >
        iid,
      </if>
      <if test="infoClass != null" >
        info_class,
      </if>
      <if test="moduleType != null" >
        module_type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="examine != null" >
        examine,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nsid != null" >
        #{nsid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="iid != null" >
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="infoClass != null" >
        #{infoClass,jdbcType=INTEGER},
      </if>
      <if test="moduleType != null" >
        #{moduleType,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examine != null" >
        #{examine,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.Questions" >
    update zl_questions
    <set >
      <if test="nsid != null" >
        nsid = #{nsid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="iid != null" >
        iid = #{iid,jdbcType=INTEGER},
      </if>
      <if test="infoClass != null" >
        info_class = #{infoClass,jdbcType=INTEGER},
      </if>
      <if test="moduleType != null" >
        module_type = #{moduleType,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examine != null" >
        examine = #{examine,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.Questions" >
    update zl_questions
    set nsid = #{nsid,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      iid = #{iid,jdbcType=INTEGER},
      info_class = #{infoClass,jdbcType=INTEGER},
      module_type = #{moduleType,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      examine = #{examine,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    
    <!-- 根据用户ID查询其所有的提问 -->
    <select id="findQuestionsByUId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        id, nsid, uid, iid, info_class ,title, content, create_time, examine 
        from zl_questions 
        where uid = #{uid}
    </select>
    
    <!-- 根据信息ID查询问题数量 -->
    <select id="countQuestionsByInfoId" resultType="java.lang.Integer">
        select
        count(*) 
        from zl_questions
        where iid = #{infoId} and info_class = #{type} and examine = 1 
    </select>
    
    <!-- 分页查询我的提问问题 -->
    <select id="selectQuestionsByMyLaunch" resultMap="QuestionsDetailVo">
       	select
        a.id,a.uid,b.nickname,b.headerimg,b.intro,a.iid,a.info_class as infoClass,a.module_type as moduleType,
        a.title,a.content,a.create_time as createTime,a.examine,c.id as collectId,
        CASE WHEN c.id IS NULL then 0 else 1 end as isCollect,
        CASE WHEN ca.title IS NULL then spec.`name` else ca.title end as source,
        (SELECT COUNT(*) FROM zl_answer as aw WHERE aw.qid = a.id and aw.examine = 1 ) as answerCount
        from zl_questions as a 
        left join zl_customer as b on b.id = a.uid 
        left join zl_collection as c on c.iid = a.id and c.type = 3 and c.uid = #{userId}
        left join zl_specification as spec on spec.id = a.iid and a.info_class = 1 
        left join zl_application_case as ca on ca.id = a.iid and a.info_class = 2 
        where a.uid = #{userId}
        <if test=" infoClass != null and infoClass != '' ">
        	and a.info_class = #{infoClass} 
        </if>
        <!-- <if test=" infoId != null and infoClass != null ">
        	and a.iid = #{infoId} and a.info_class = #{infoClass} 
        </if> -->
        order by a.create_time desc 
    </select>
    
    <!-- 查询我的提问问题数量 -->
    <select id="selectQuestionsCountByMyLaunch" resultType="java.lang.Integer" parameterType="java.lang.Integer">
       	select COUNT(*) 
        from zl_questions 
        where uid = #{userId} 
    </select>
    
    <!-- 分页查询我收藏的问题 -->
    <select id="selectQuestionsByMyCollect" resultMap="QuestionsDetailVo">
       	select
        a.id,a.uid,b.nickname,b.headerimg,b.intro,a.iid,a.info_class as infoClass,a.module_type as moduleType,
        a.title,a.content,a.create_time as createTime,a.examine,c.id as collectId,
        1 as isCollect,
        CASE WHEN ca.title IS NULL then spec.`name` else ca.title end as source,
        (SELECT COUNT(*) FROM zl_answer as aw WHERE aw.qid = a.id and aw.examine = 1 ) as answerCount
        from zl_collection as c 
        left join zl_questions as a on c.iid = a.id 
        left join zl_customer as b on b.id = a.uid 
        left join zl_specification as spec on spec.id = a.iid and a.info_class = 1
        left join zl_application_case as ca on ca.id = a.iid and a.info_class = 2 
        where a.examine = 1 and c.uid = #{userId} and c.type = 3 
        <if test=" infoClass != null and infoClass != '' ">
        	and a.info_class = #{infoClass} 
        </if>
        <!-- <if test=" infoId != null and infoClass != null ">
        	and a.iid = #{infoId} and a.info_class = #{infoClass} 
        </if> -->
        order by a.create_time desc 
    </select>
    
    <!-- 分页查询我回答的问题 -->
    <select id="selectQuestionsByMyAnswer" resultMap="QuestionsDetailVo">
       	select
        DISTINCT a.id,a.uid,b.nickname,b.headerimg,b.intro,a.iid,a.info_class as infoClass,a.module_type as moduleType,
        a.title,a.content,a.create_time as createTime,a.examine,c.id as collectId,
        CASE WHEN c.id IS NULL then 0 else 1 end as isCollect,
        CASE WHEN ca.title IS NULL then spec.`name` else ca.title end as source,
        (SELECT COUNT(*) FROM zl_answer as aw WHERE aw.qid = a.id and aw.examine = 1 ) as answerCount
        from zl_questions as a 
        left join zl_customer as b on b.id = a.uid 
        left join zl_collection as c on c.iid = a.id and c.type = 3 and c.uid = #{userId}
        left join zl_specification as spec on spec.id = a.iid and a.info_class = 1 
        left join zl_application_case as ca on ca.id = a.iid and a.info_class = 2 
        left join zl_answer as ans on ans.qid = a.id 
        where ans.uid = #{userId} and a.examine = 1 and ans.examine = 1 
        <if test=" infoClass != null and infoClass != '' ">
        	and a.info_class = #{infoClass} 
        </if>
        <!-- <if test=" infoId != null and infoClass != null ">
        	and a.iid = #{infoId} and a.info_class = #{infoClass} 
        </if> -->
        order by a.create_time desc 
    </select>
    
    <!-- 分页查询我关注的人的问题 -->
    <select id="selectMyAttentionQuestions" resultMap="QuestionsDetailVo">
       	select
        a.id,a.uid,b.nickname,b.headerimg,b.intro,a.iid,a.info_class as infoClass,a.module_type as moduleType,
        a.title,a.content,a.create_time as createTime,a.examine,c.id as collectId,
        CASE WHEN c.id IS NULL then 0 else 1 end as isCollect,
        CASE WHEN ca.title IS NULL then spec.`name` else ca.title end as source,
        (SELECT COUNT(*) FROM zl_answer as aw WHERE aw.qid = a.id and aw.examine = 1 ) as answerCount
        from zl_questions as a 
        left join zl_customer as b on b.id = a.uid 
        left join zl_collection as c on c.iid = a.id and c.type = 3 and c.uid = #{userId}
        left join zl_specification as spec on spec.id = a.iid and a.info_class = 1 
        left join zl_application_case as ca on ca.id = a.iid and a.info_class = 2 
        left join zl_customer_attention as cat on cat.puid = a.uid 
        where cat.uid = #{userId} and a.examine = 1 
        <if test=" infoClass != null and infoClass != '' ">
        	and a.info_class = #{infoClass} 
        </if>
        <!-- <if test=" infoId != null and infoClass != null ">
        	and a.iid = #{infoId} and a.info_class = #{infoClass} 
        </if> -->
        order by a.create_time desc 
    </select>
    
    <!-- 分页查询关注我的人的问题 -->
    <select id="selectAttentionMeQuestions" resultMap="QuestionsDetailVo">
       	select
        a.id,a.uid,b.nickname,b.headerimg,b.intro,a.iid,a.info_class as infoClass,a.module_type as moduleType,
        a.title,a.content,a.create_time as createTime,a.examine,c.id as collectId,
        CASE WHEN c.id IS NULL then 0 else 1 end as isCollect,
        CASE WHEN ca.title IS NULL then spec.`name` else ca.title end as source,
        (SELECT COUNT(*) FROM zl_answer as aw WHERE aw.qid = a.id and aw.examine = 1 ) as answerCount
        from zl_questions as a 
        left join zl_customer as b on b.id = a.uid 
        left join zl_collection as c on c.iid = a.id and c.type = 3 and c.uid = #{userId}
        left join zl_specification as spec on spec.id = a.iid and a.info_class = 1 
        left join zl_application_case as ca on ca.id = a.iid and a.info_class = 2 
        left join zl_customer_attention as cat on cat.uid = a.uid
        where cat.puid = #{userId} and a.examine = 1 
        <if test=" infoClass != null and infoClass != '' ">
        	and a.info_class = #{infoClass} 
        </if>
        <!-- <if test=" infoId != null and infoClass != null ">
        	and a.iid = #{infoId} and a.info_class = #{infoClass} 
        </if> -->
        order by a.create_time desc 
    </select>
    
    <!-- 分页查询特定类型的问题（可指定具体） -->
    <select id="selectAllSpecifyQuestions" resultMap="QuestionsDetailVo">
       	select
        a.id,a.uid,b.nickname,b.headerimg,b.intro,a.iid,a.info_class as infoClass,a.module_type as moduleType,
        a.title,a.content,a.create_time as createTime,a.examine,c.id as collectId,
        CASE WHEN c.id IS NULL then 0 else 1 end as isCollect,
        CASE WHEN ca.title IS NULL then spec.`name` else ca.title end as source,
        (SELECT COUNT(*) FROM zl_answer as aw WHERE aw.qid = a.id and aw.examine = 1 ) as answerCount
        from zl_questions as a 
        left join zl_customer as b on b.id = a.uid 
        left join zl_collection as c on c.iid = a.id and c.type = 3 and c.uid = #{userId} 
        left join zl_specification as spec on spec.id = a.iid and a.info_class = 1 
        left join zl_application_case as ca on ca.id = a.iid and a.info_class = 2 
        where a.examine = 1  
        <if test=" infoClass != null and infoClass != '' ">
        	and a.info_class = #{infoClass}
        </if>
        <if test=" infoId != null and infoId != '' ">
        	and a.iid = #{infoId} 
        </if>
        <if test=" moduleType != null and moduleType != '' ">
        	and a.module_type = #{moduleType} 
        </if>
        order by a.create_time desc 
    </select>
    
    <!-- 根据问题ID查询问题详情-用户登录 -->
    <select id="selectSingleQuestionDetailById" resultMap="QuestionsDetailVo" >
       	select
        a.id,a.uid,b.nickname,b.headerimg,b.intro,a.iid,a.info_class as infoClass,a.module_type as moduleType,
        a.title,a.content,a.create_time as createTime,a.examine,c.id as collectId,
        CASE WHEN c.id IS NULL then 0 else 1 end as isCollect,
        CASE WHEN ca.title IS NULL then spec.`name` else ca.title end as source,
        (SELECT COUNT(*) FROM zl_answer as aw WHERE aw.qid = a.id and aw.examine = 1 ) as answerCount
        from zl_questions as a 
        left join zl_customer as b on b.id = a.uid 
        left join zl_collection as c on c.iid = a.id and c.type = 3 and c.uid = #{userId}
        left join zl_specification as spec on spec.id = a.iid and a.info_class = 1 
        left join zl_application_case as ca on ca.id = a.iid and a.info_class = 2 
        where a.id = #{questionId} 
    </select>
    
    <!-- 得到首页最热门的问答(根据提问回答最多查询，最多4个) -->
    <select id="selectHotQuestions" resultType="com.zlwon.vo.pc.applicationCase.IndexHotApplicationCaseQuestionAndAnswerVo">
	    SELECT   *  FROM   (
		SELECT  COUNT(a.qid) num,a.content,c.nickname,q.create_time  createTime, q.content questionContent,q.info_class infoClass,IF(q.info_class=2,app.title,s.name)  infoTitle,IF(q.info_class=2,app.id,s.id)  id,q.title
		FROM   (SELECT   *  FROM   zl_answer  a   WHERE  a.examine=1 ORDER  BY   a.support_nums  DESC,a.id  DESC) a
		LEFT   JOIN   zl_questions  q   ON   a.qid=q.id   
		LEFT   JOIN   zl_customer   c   ON   q.uid=c.id
		
		LEFT  JOIN  zl_application_case  app   ON   app.id=q.iid  AND   q.info_class=2
		LEFT  JOIN   zl_specification    s   ON  s.id=q.iid    AND   q.info_class=1
		
		WHERE   q.examine=1 AND  c.del=1  AND  IF(app.id>0,app.del=1,s.del=1)  GROUP   BY   a.qid
		)  temp   ORDER  BY   temp.num  DESC   LIMIT   4 
    </select>
    
    
    
    <!-- 得到所有提问信息 -->
    <select id="selectAllQuestions" resultType="com.zlwon.vo.questions.QuestionsListVo">
	    SELECT   q.id,q.title,q.content,q.create_time createTime,q.examine,q.uid,c.nickname,IF(a.id>0,a.title,s.name) infoTitle,c.headerimg
	    FROM   zl_questions  q
		LEFT   JOIN   zl_application_case   a   ON   q.iid=a.id  AND   q.info_class=2
		LEFT   JOIN   zl_specification  s   ON  q.iid=s.id  AND   q.info_class=1
		LEFT   JOIN   zl_customer   c   ON   q.uid=c.id 
		WHERE   IF(a.id>0,a.del=1,s.del=1)  AND   c.del=1   order  by   q.id   desc
    </select>
    
</mapper>