<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlwon.rdb.dao.VoteActivityMapper" >
  <resultMap id="BaseResultMap" type="com.zlwon.rdb.entity.VoteActivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="activity_rule" property="activityRule" jdbcType="VARCHAR" />
    <result column="prize_product" property="prizeProduct" jdbcType="VARCHAR" />
    <result column="prize_way" property="prizeWay" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="attend_end_date" property="attendEndDate" jdbcType="DATE" />
    <result column="del" property="del" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, photo, activity_rule, prize_product, prize_way, start_date, end_date, 
    attend_end_date, del, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zl_vote_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zl_vote_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlwon.rdb.entity.VoteActivity" >
    insert into zl_vote_activity (id, title, content, 
      photo, activity_rule, prize_product, 
      prize_way, start_date, end_date, 
      attend_end_date, del, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{activityRule,jdbcType=VARCHAR}, #{prizeProduct,jdbcType=VARCHAR}, 
      #{prizeWay,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, 
      #{attendEndDate,jdbcType=DATE}, #{del,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlwon.rdb.entity.VoteActivity" >
    insert into zl_vote_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="activityRule != null" >
        activity_rule,
      </if>
      <if test="prizeProduct != null" >
        prize_product,
      </if>
      <if test="prizeWay != null" >
        prize_way,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="attendEndDate != null" >
        attend_end_date,
      </if>
      <if test="del != null" >
        del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="activityRule != null" >
        #{activityRule,jdbcType=VARCHAR},
      </if>
      <if test="prizeProduct != null" >
        #{prizeProduct,jdbcType=VARCHAR},
      </if>
      <if test="prizeWay != null" >
        #{prizeWay,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="attendEndDate != null" >
        #{attendEndDate,jdbcType=DATE},
      </if>
      <if test="del != null" >
        #{del,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlwon.rdb.entity.VoteActivity" >
    update zl_vote_activity
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="activityRule != null" >
        activity_rule = #{activityRule,jdbcType=VARCHAR},
      </if>
      <if test="prizeProduct != null" >
        prize_product = #{prizeProduct,jdbcType=VARCHAR},
      </if>
      <if test="prizeWay != null" >
        prize_way = #{prizeWay,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="attendEndDate != null" >
        attend_end_date = #{attendEndDate,jdbcType=DATE},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlwon.rdb.entity.VoteActivity" >
    update zl_vote_activity
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      activity_rule = #{activityRule,jdbcType=VARCHAR},
      prize_product = #{prizeProduct,jdbcType=VARCHAR},
      prize_way = #{prizeWay,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      attend_end_date = #{attendEndDate,jdbcType=DATE},
      del = #{del,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!-- 得到所有标记正常的活动 -->
  <select id="selectAllVoteActivityMake" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from zl_vote_activity
    where del = 1
  </select>
  
  <!-- 得到活动标题，得到标记正常的活动 -->
  <select id="selectByTitleMake" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from zl_vote_activity
    where title = #{title,jdbcType=VARCHAR} and del = 1
  </select>
  
  <!-- 根据活动ID查询该活动所有参与项目 -->
  <select id="selectAllVoteActivityDate" resultMap="BaseResultMap" parameterType="com.zlwon.dto.voteActivity.VoteActivityPageDto">
      select
      id, title, content, photo, activity_rule, prize_product, prize_way,
      start_date, end_date, del, create_time ,attend_end_date
      from zl_vote_activity 
      where 1 = 1 and CURDATE() &gt;= start_date and CURDATE() &lt;= end_date and del = 1
      order by create_time desc  
  </select>
  
</mapper>